<p id="notice"><%= notice %></p>

<div id="baristas" class="TopWrapper">
  <h1>Meet The Baristas</h1>
  <h2>Some of the nicest people ever</h2>
</div> <!-- Top Wrapper -->

<div class="PhotoList BaristaSummary">
  <% @baristas.each do |barista| %>
     <% @barista = barista %>
     <% @barista_photo = barista.primary_photo %>
     <%= render partial: 'barista_photos/display', locals: {barista_summary: true} %>
  <% end %>

</div> <!-- PhotoList -->

<% if admin_signed_in? %>
  <div class="AdminRegion">
    <%= link_to 'New Barista', new_barista_path %>
  </div>
<% end %>

