<p id="notice"><%= notice %></p>

<div id="artists" class="TopWrapper">
  <div class="PhotoFilter">
    <h1>
      <%= link_to @artist.name, @artist %>
    </h1>
  </div>
</div>

<%= render partial: 'art_pieces/display', locals: {current_only: false, size: 'full'} %>

