<div id="art" class="TopWrapper">
  <div class="PhotoFilter">
    <h2>Artist Info  - <%= @artist.name %></h2>
  </div>
</div>

<div class="AdminPage">
<%= render 'form', artist: @artist %>

<%= link_to 'Show', @artist %> |
<%= link_to 'Back', artists_path %>
</div>

