<p id="notice"><%= notice %></p>
<div id="art" class="TopWrapper">
  <div class="PhotoFilter">
    <h1>Momo Lolo Art</h1>
    <h2>Everybody and Everything We've Had in the Shop</h2>
  </div>
</div> <!-- TopWrapper -->

<div>
  <%= link_to 'Current Art', current_art_index_path  %>
</div>

<% if !@artists.blank? %>
  <% @artists.each do |artist| %>
       <% @artist = artist %>
       <%= render partial: 'artists/display', locals: {current_only: false, show_art: true, link_to_artist: true} %>
  <% end %>
<% end %>

</div> <!-- artWrapper -->

