<p id="notice"><%= notice %></p>
<div id="art" class="TopWrapper">
  <div class="PhotoFilter">
    <h1>Fort Collins Art</h1>
    <h2>See a sample of what we have in our shop</h2>
    <h3>(Bad photos of great art)</h3>
  </div>
</div> <!-- TopWrapper -->

<% if admin_signed_in? %>
  <div class="AdminRegion">
    <%= link_to 'Show All Art', artists_path  %>
  </div>
<% end %>

<% if !@artists.blank? %>
  <% @artists.each do |artist| %>
       <% @artist = artist %>
       <%= render partial: 'artists/display', locals: {current_only: true, show_art: true, link_to_artist: true} %>
  <% end %>
<% end %>

</div> <!-- artWrapper -->

