<p id="notice"><%= notice %></p>
<div id="placePhotos" class="TopWrapper">
  <div class="PhotoFilter">
    <h1>Momo Lolo Photos</h1>
  </div>
</div> <!-- TopWrapper -->

<div class="PhotoList">
  <% @place_photos.each do |photo| %>
         <% @place_photo = photo %>
         <% @place = photo.place %>
         <%= render partial: 'place_photos/display', locals: { size: 'thumb'} %>
  <% end %>
</div> <!-- PhotoList -->

<% if admin_signed_in? %>
  <div class="AdminRegion">
    <%= link_to 'New Place Photo', new_place_place_photo_path %>
  </div>
<% end %>

