<div class="AdminPage">

<div id="eventImages" class="TopWrapper">
  <h1>New Event Image</h1>
</div> <!-- Top Wrapper -->

<%= render 'form', event_image: @event_image %>

<%= link_to 'All Images', event_images_path %>

</div> <!-- AdminPage -->

