<div class="AdminPage">
<h1>Editing Order Item</h1>

<%= render 'form', order_item: @order_item %>

<%= link_to 'Show', @order_item %> |
<%= link_to 'Show Suppliers', suppliers_path %> |
<%= link_to 'Show Items', order_items_path %> 
</div>

