<div class="AdminPage">
<h1>New Order Item</h1>

<%= render 'form', order_item: @order_item %>

<%= link_to 'Show Supplies', order_items_path %> | 
<%= link_to 'Show Suppliers', suppliers_path %>
</div>
