body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  font-family: 'Open Sans',"Arial",sans-serif; 
  /* font: 1em/1.85em 'Open Sans',"Arial",sans-serif; */
  /* font-family: Oswald, verdana, arial, helvetica, sans-serif; */
  box-sizing: border-box;
  /* font-size: 13px; */
  /* line-height: 18px; */
}

p, ol, ul, td {
  /* font-family: verdana, arial, helvetica, sans-serif; */
  /* font-size: 13px; */
  /* line-height: 18px; */
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: black;
    background-color: white;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

section h1 {
    text-align: center;
    font-size: 10vw; 
    margin: 0 0 .4em;
    word-wrap: normal;
    font-weight: bold;
    color: #000;
    font-family: Oswald;
}

section h2, section h3 {
    text-align: center;
    font-size: 1.75em; 
    margin: 0 0 .2em;
    font-weight: bold;
    color: #000;
    font-family: Oswald;
}


ul li {
  font-size: 12px;
  list-style: square;
}

textarea {
 vertical-align: middle;
}

/* *********** app specific **********/

header {
  font-family: Oswald, verdana, arial, helvetica, sans-serif;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

@media screen and (max-width: 826px) {
  #headerStrut {
   float: left;
   width: 1px;
   min-height: 16vw;
  }
  .BigLogo a {
    font-size: 8vw;
  }
  #menuList li a, #loginList li a {
    font-size: 6vw;
  }
  #tagLine {
    font-size: 3vw;
  }
  main {
   /* top: 12vw; */
  }
  #footerSpacer {
    /* min-height: 12vw; */
  }
  #mobileWrapper {
    display: block;
  }
  #menuList {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    right: -40vw;
  }
  #mobileMenuCancel {
    display: none;
  }
  .PhotoWrapper {
    max-width: 90vw;
    margin: 0em 0em .5em 0em;
    padding: .2em;
  }
}

@media screen and (min-width: 825px) {
  #headerStrut {
   float: left;
   width: 1px;
   min-height: 9vw;
  }
  .BigLogo a {
    font-size: 4.3vw;
  }
  #menuList li a, #loginList li a {
    font-size: 2.2vw;
  }
  #tagLine {
    font-size: 1.5vw;
  }
  main {
   /* top: 7vw; */
  }
  #footerSpacer {
    /* min-height: 7vw; */
  }
  #description {
    font-size: 1.5vw;
  }
  nav {
    border: none;
  }
  #mobileWrapper {
    display: none;
  }
  #menuList {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0px;
  }
  #mobileMenuCancel {
    display: none;
  }
  .PhotoWrapper {
    max-width: 230px;
    margin: .5em .2em .5em 2em;
    padding: .2em;
  }
}

.PhotoWrapper.FullImage {
    max-width: 90vw;
}

.PhotoWrapper.FullImage img {
    max-width: 80vw;
}

#loginWrapper {
  display: block;
}
#loginList {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  left: -40vw;
}
#loginMenuCancel {
  display: none;
}

#appBlocker {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(250,250,250,.9);
}
#appBlocker.EnableApp {
  display: none;
  z-index: -1;
} 
#appBlocker.BlockApp {
  display: block;
  z-index: 75;
} 

header {
  width: 100%;
  z-index: 50;
  /* padding-left: .5em; */
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(250,250,250, .9);
}

#logoBlock {
  float: left;
  margin-left: .5em;
  margin-right: .5em;
  /* margin-bottom: .5em; */
}

#tagLine {
  font: "Open Sans","Arial",sans-serif;
  font-weight: lighter;
  /* font-size: .8em; */
  line-height: 110%;
  /* margin-top: 1em; */
}
header nav {
  float: right;
  /* position: absolute; */
  position: relative;
  top: 0px;
  right: 1em;
  /* background: white; */
  margin-top: .75em;
  z-index: 100;
}

header a, footer a {
  text-decoration: none;
}
header a:visited, footer a:visited {
  color: #000;
}
header a:hover, footer a:hover {
  color: black;
  background-color: white;
}

#mobileWrapper {
  margin-top: 1em;
  float: right;
  margin-right: 2em;
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
  postition: relative;
}

#menuList.ShowMenuList {
  display: flex;
  right: 0px;
  z-index: 100;
}
#menuList.HideMenuList {
  display: none;
  right: -40vw;
}
#mobileWrapper.ShowMobileWrapper {
  display: inline-block;
}
#mobileWrapper.HideMobileWrapper {
  display: none;
}
#mobileMenuCancel.ShowMobileCancel {
  display: inline-block;
}
#mobileMenuCancel.HideMobileCancel {
  display: none;
}

#mobileMenuIcon {
  display: inline-block;
  width: 1.1em;
}

#loginWrapper {
  /* float: left; */
  text-align: left;
  margin-left: 1em;
  margin-botton: .5em;
  margin-right: 2em;
  /* display: flex; */
  /* justify-content: flex-end; */
  align-items: center;
  /* postition: relative; */
}

#loginList.ShowLoginList {
  display: flex;
  left: 0px;
  z-index: 100;
}
#loginList.HideLoginList {
  display: none;
}
#loginWrapper.ShowLoginWrapper {
  display: block;
}
#loginWrapper.HideLoginWrapper {
  display: none;
}
#loginMenuCancel.ShowLoginCancel {
  display: inline-block;
}
#loginMenuCancel.HideLoginCancel {
  display: none;
}

#loginMenuIcon {
  display: inline-block;
  width: .3em;
  height: .3em;
  background-color: gray;
}

.WhiteBackground {
  background-color: white;
}
.BlueBackground {
  background-color: blue;
}

#mobileMenuIcon span {
  display: block;
  font-size : 10%;
  height: .5em;
  overflow: hidden;
  border-top: .17em solid black;
}
#mobileMenuCancel {
  margin-left: auto;
}

#menuList {
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  position: relative;
  /* transition: all 1s ease-in-out; */
  transition-property: right;
  /* transition-property: all; */
  transition-duration: 5s;
  transition-timing-function: linear;
  /* transition-delay: 1s; */
}
#menuList li, #socialLinks li, #loginList li {
  list-style: none;
}

#menuList li a, #loginList li a {
  margin: .6em;
  font-weight: 300;
  text-decoration: none;
}

main {
  position: relative;
  z-index: 10;
  width: 100%;
  clear: left;
}

.TitleDiv {
  min-height: 3em;
  background-color: white;
}

.AdminPage {
  text-align: left;
  background-color: rgba(240,255,240, .9);
  padding-left: 3vw;
}
.AdminRegion {
  background-color: rgba(240,255,240, .9);
}

footer {
  clear: both;
  background-color: #fafafa;
  border-top: 1px solid rgba(0,0,0,.1);
}

footer div {
  text-align: center;
}
footer .BigLogo, #socialLinks {
  width: 100%;
}
#footerLinks {
  padding: 0px;
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
}

.SocialIcon img {
  height: 2em;
  margin-left: 2vw;
  margin-right: 2vw;
}

footer p {
  font: "Open Sans","Arial",sans-serif;
  font-weight: lighter;
  font-size: .8em;
  line-height: 110%;
}

.PhotoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.PhotoWrapper {
  text-align: center;
  border: thin solid gray;
}

.PhotoWrapper .field {
  margin: auto;
}
.PhotoWrapper .Description {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
}

section .TopWrapper {
  text-align: center;
  margin-bottom: 1vw;
  background-repeat: no-repeat;
  background-size: cover;
  backgound-attachment: scroll;
  background-position: right center;
  color: white;
}

section .TopWrapper.NoTopImage {
  background-color: silver;
}
section .TopWrapper.NoTopImage h1 {
  color: black;
}
section .TopWrapper.NoTopImage h2 {
  color: black;
}
section .TopWrapper.NoTopImage h3 {
  color: black;
}

section .TopWrapper h1 {
  /* font-size: 8vw; */
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  /* line-height: 2em;
  letter-spacing: .25em;
  */
}

section .TopWrapper h2 {
  color: white;
  font-size: 5vw;
  text-decoration: none;
  padding-bottom: 1em;
}

section .TopWrapper h3 {
  color: white;
  font-size: 3vw;
  text-decoration: none;
  padding-bottom: .5em;
}

/*
section h3 {
  font-size: 2.5vw;
}
*/

.QuoteHtml {
  font-weight: bold;
}

.Author::before {
  content: " - "; 
}


