<footer>
  <div class="BigLogo" id="footerLogo">
     <a href="/" title="Momo Lolo"><span>Momo Lolo</span></a>
  </div>
  <div id="socialLinks">
    <ul id="footerLinks">
      <li><a class="SocialIcon" 
             href="https://www.facebook.com/MomoLoloCoffeeHouse" 
             target="_blank">
             <%= image_tag("facebookLinkIcon.png", alt: "facebook link") %>
          </a>
      </li>
      <li><a class="SocialIcon" 
             href="https://www.instagram.com/momololocoffeehouse/"
             target="_blank">
             <%= image_tag("instagramLinkIcon.png", alt: "instagram link") %>
          </a>
      </li>
      <li><a class="SocialIcon" 
             href="https://calendar.google.com/calendar/embed?src=u7v86t0ji56uu32uhovqku7vno%40group.calendar.google.com&ctz=America%2FDenver" 
             target="_blank">
             <%= image_tag("calendarLinkIcon.png", alt: "Momo Lolo calendar link") %>
         </a>
      </li>
    </ul>
  </div>
  <div id="loginDiv">
    <%= render :partial => 'login' %>
  </div>

</footer>
