<header>
  <div id="logoBlock">
    <div id="logo">
       <a href="/" title="Momo Lolo"><span>Momo Lolo</span></a>
    </div>					
    <div id="description">
       <span>The Friendliest Coffee House in Fort Collins</span>
    </div>
  </div>
  <nav>
    <div id="mobileWrapper">
       <a id="mobileMenuIcon" href="#">
          <span class="MobileIconInner">&nbsp;</span>
          <span class="MobileIconInner">&nbsp;</span>
          <span class="MobileIconInner">&nbsp;</span>
       </a>
       <a id="mobileMenuCancel" href="#">X</a>
    </div>
    <ul id="menuList">
      <li><a href=#">Upcoming Events</a></li>
      <li><a href=#">Art in Our Shop</a></li>
      <li><a href=#">Meet the Baristas</a></li>
      <li><a href=#">What People Are Saying</a></li>
    </ul>
  </nav>
</header>

