<header>
  <div id="logoBlock">
    <div class="BigLogo" id="headerLogo">
       <a href="/" title="Momo Lolo"><span>Momo Lolo</span></a>
    </div>					
    <div id="tagLine">
       <span>The Friendliest Coffee House in Fort Collins</span>
    </div>
  </div>
  <div id="mobileWrapper">
     <a id="mobileMenuIcon" href="#">
        <span class="MobileIconInner">&nbsp;</span>
        <span class="MobileIconInner">&nbsp;</span>
        <span class="MobileIconInner">&nbsp;</span>
     </a>
  </div>
  <nav>
    <ul id="menuList">
      <li id="mobileMenuCancel"><a href="#">X</a></li>
      <li><a href=#">Upcoming Events</a></li>
      <li><a href=#">Art in Our Shop</a></li>
      <li><a href=#">Meet the Baristas</a></li>
      <li><a href=#">What People Are Saying</a></li>
    </ul>
  </nav>
</header>

