<section id="place">

<div id="placeWrapper">

  <div id="titleSection">
    <div>Coffee</div>
    <div>House</div>
  </div>
  
  <div id="hours">
    <div class="Hours">Weekdays 6:30 am – 10:00 pm</div>
    <div class="Hours">Weekends 7:30 am – 10:00 pm</div>
  </div>

  <div id="location">
    <div class="Address"><%= @place.street_address %></div>
    <div class="Address"><%= @place.city_state %></div> 
  </div>
</div> <!-- placeWrapper -->
</section> <!-- place -->
